<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-native-saveas"
        version="1.0.0"
        xmlns="http://apache.org/cordova/ns/plugins"
        xmlns:android="http://schemas.android.com/apk/res/android">

  <name>Native SaveAs</name>
  <description>Show native save dialog for Android and iOS</description>
  <license>MIT</license>
  <keywords>save, native, dialog, file</keywords>

  <js-module src="www/NativeSaveAs.js" name="NativeSaveAs">
    <clobbers target="cordova.plugins.NativeSaveAs" />
  </js-module>

  <!-- Android -->
  <platform name="android">
    <source-file src="src/android/NativeSaveAs.kt" target-dir="src/com/outsystems/native/saveas" />
  </platform>

  <!-- iOS -->
  <platform name="ios">
    <source-file src="src/ios/NativeSaveAs.swift" />
  </platform>

</plugin>
