<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova-plugin-native-saveas"
        version="1.0.0"
        xmlns="http://apache.org/cordova/ns/plugins"
        xmlns:android="http://schemas.android.com/apk/res/android">

  <name>Native SaveAs</name>
  <description>Show native save dialog for Android and iOS</description>
  <license>MIT</license>
  <keywords>save, native, dialog, file</keywords>

  <js-module src="www/NativeSaveAs.js" name="NativeSaveAs">
    <clobbers target="cordova.plugins.NativeSaveAs" />
  </js-module>

  <!-- Android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="NativeSaveAs">
        <param name="android-package" value="com.outsystems.nativesaveas.NativeSaveAs" />
      </feature>
    </config-file>

    <!-- Kotlin source -->
    <source-file src="src/android/com/outsystems/nativesaveas/NativeSaveAs.kt"
                 target-dir="src/com/outsystems/nativesaveas" />
  </platform>

  <!-- iOS (opcional, pode implementar depois) -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="NativeSaveAs">
        <param name="ios-package" value="NativeSaveAs" />
      </feature>
    </config-file>
    <source-file src="src/ios/NativeSaveAs.swift" />
    <dependency id="cordova-plugin-add-swift-support" version="2.0.2" />
  </platform>

</plugin>